body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-x: hidden; /* Prevent horizontal scroll on smaller screens */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
}

header img {
    max-width: 100px;
    margin-right: 10px;
    
}

nav {
    background-color: #e9eeea;
    text-align: center;
    font-weight: bold;
    color:blue
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana;
    margin: 4px;
    
}

main {
    position: relative;
}

.background-section {
    background-image: url('img/bg.jpeg'), url('img/BG2.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 60px;
    text-align: center;
}

#testimonials {
    margin-top: 20px;
}

.testimonial {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-icons {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.contact-icons img {
    width: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

footer {
    background-color: rgb(53, 51, 51);
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    font-family: verdana;
    justify-content: space-between;
}

.site-navigation,
.contact-info {
    font-size: 15px;
    font-display:inherit;
}

.site-navigation ul,
.contact-info {
   font-family: verdana;
   text-decoration: wavy;
   list-style: none;
}

.site-navigation a {
    color: #f00808;
    text-decoration: none;
}

.contact-info a {
    color: #ff0000;
    text-decoration: underline;
}
.dynamic-image {
    margin-top: 20px;
    text-align: center;
}

.dynamic-image img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}